@use "../abstracts/" as a;

main {
  width: 87.5%;
  margin: -6rem auto 0;
  @include a.tablet {
    max-width: 540px;
    margin: -8rem auto 0;
  }
}

.form-label {
  display: none;
}

#todo-form {
  width: 100%;
  position: relative;
}

#todo-input {
  width: 100%;
  font-family: inherit;
  padding: 1.75rem 1.25rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  color: var(--Light-theme-list-text);
  padding-left: 52px;
  font-size: 1rem;

  @include a.tablet {
    padding: 1.5rem;
    padding-left: 55px;
    font-size: 1.125rem;
  }
}

#todo-input::placeholder {
  font-size: 0.8rem;
  color: var(--Light-theme-text);
  @include a.tablet {
    font-size: 1.125rem;
  }
}

#todo-form::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid var(--Light-theme-border-color);
  border-radius: 50%;
  left: 1.2rem;
  top: 1.6rem;
  @include a.tablet {
    left: 1.45rem;
    top: 1.4rem;
  }
}
