main {
  width: 87.5%;
  margin: -6rem auto 0;
}

#todo-form {
  width: 100%;
}

#todo-input {
  width: 100%;
  font-family: inherit;
  padding: 0.875rem 1.25rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  color: var(--Light-theme-list-text);
}

#todo-input::placeholder {
  font-size: 0.75rem;
  color: var(--Light-theme-text);
}
