@use "../abstracts/" as a;

header {
  width: 100%;
  height: 200px;
  background-image: url("../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header {
  @include a.flex-row-space-between;
  padding: 3rem 1.625rem;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 15px;
}

.toggle {
  cursor: pointer;
}

.toggle-sun {
  display: none;
}
