:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(
    150deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  // Light Theme

  --Light-theme-background: hsl(0, 0%, 98%);
  --Light-theme-border-color: hsl(236, 33%, 92%);
  --Light-theme-checked-text: hsl(233, 11%, 84%);
  --Light-theme-text: hsl(236, 9%, 61%);
  --Light-theme-list-text: hsl(235, 19%, 35%);

  //  Dark Theme

  --Dark-theme-background: hsl(235, 21%, 11%);
  --Dark-theme-list-background: hsl(235, 24%, 19%);
  --Dark-theme-list-text: hsl(234, 39%, 85%);
  --Dark-theme-hover: hsl(236, 33%, 92%);
  // --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Dark-theme-checked-text: hsl(233, 14%, 35%);
  --Dark-theme-border-color: hsl(237, 14%, 26%);
  --Dark-theme-text: hsl(235, 16%, 43%);
}

$tablet: 765px;
