:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(
    150deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  // Light Theme

  --Light-theme-box-shadow: hsl(0, 0%, 98%);
  --Light-theme-border-color: hsl(236, 33%, 92%);
  --Light-theme-checked-text: hsl(233, 11%, 84%);
  --Light-theme-text: hsl(236, 9%, 61%);
  --Light-theme-list-text: hsl(235, 19%, 35%);

  //  Dark Theme

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Extra-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}
